/* Basic */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
}


/* Structure */
body {
    background-color: #fafafa;
}

/* Slide-out Nav */
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    margin-top: 0;
    margin-left: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.75s;
    padding-top:40px;
    padding-left: 30px;
    visibility: hidden;
}

h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    padding-left: 30px;
    padding-top:20px;
    font-size: 40px;
    color: black;
    display: block;
    transition: 0.3s;
    align-content: center;
}

h2{
    padding: 20px 0 30px 30px;
    display: block;
    font-weight: 200;
    font-size: 30px;
    color: black;
}

p {
    font-size: 18px;
    padding-left: 30px;
    display: block;
    color: darkgrey;
    line-height: 28px;
}

#subtitle {
    font-size: 12px;
    padding-left: 30px;
    display: block;
    color: darkgrey;
}

#buttons{
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    text-decoration: none;
    padding-left: 30px;
    padding-top:30px;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    align-content: center;
}

#buttons input[type="radio"]:checked{
    color: cadetblue;
}

input[type="radio"] {
    margin-top: -5px;
    vertical-align: middle;
    margin-right: 5px;
}

li{
   list-style-type: none;
    padding-bottom: 15px;
}

li:hover{
    color: #00b3b3;
}

.radio{
    padding-top: 20px;
}

#hamIcon {
    z-index: 3;
    position: absolute;
    color: #fff;
    font-size: 30px;
    top: 5px;
    left: 15px;
}

.nav .close{
    position:absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
}

.close:hover {
    color: #00b3b3;
}

.close:active {
    color: cadetblue;
}

#about {
    position: absolute;
    bottom: 60px;
}

#instruct{
    position: absolute;
    bottom:220px;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid grey;
    background-color: #fafafa;
}


/* Components */

canvas#spriteCanvas {
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    position:absolute;
}

canvas#topCanvas {
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
    position: absolute;
}

canvas#scrollCanvas {
    /*background-color: #232323;*/
    z-index: 0;
    position: absolute;
}

#controls {
    top: 480px;
    margin-left: 10px;
    position: relative;
}
